fastapi
uvicorn[standard]
python-dotenv
motor
python-multipart
email-validator
httpx
langchain
langchain-text-splitters
langgraph
langchain-groq
langchain-chroma
langchain-huggingface
pypdf
chromadb
sentence-transformers
langsmith
